/**
 * ----------------------------------------------
 * inside injuries css
 * 
 */
.bg {
  background-image: url(../images/bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.ap-bg {
  background-image: url(../images/access-bg.jpg);
  // padding: 0px 20px;
}
.cap-bg {
  background-image: url(../images/caplogic.jpg);
}
.caf-bg {
  background-image: url(../images/caf-oct.jpg);
}
.inndex-bg {
  background-image: url(../images/inndex.jpg);
}
.liberty-bg {
  background-image: url(../images/liberty-defense.jpg);
}
.live-bg {
  background-image: url(../images/live.jpg);
}
.c-inner-header {
  .header-content {
    margin-top: 114px;
    .heading-3 {
      margin-bottom: 32px;
      @include media-min-max(768px, 991px) {
        font-size: 42px;
        line-height: 63px;
      }
    }
    .heading-4 {
      font-size: 32px;
      line-height: 46px;
      @include media-min-max(768px, 991px) {
        font-size: 21px;
        line-height: 30.5px;
      }
      @include media-max(767px) {
        font-size: 20px;
        line-height: 30px;
      }
    }
    img {
      margin-left: 50px;
      box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.15);
      width: 120%;
      @include media-max(1500px) {
        width: 100%;
        margin-left: 0px;
      }
      @include media-max(767px) {
        margin-top: 30px;
        padding-top: 50px;
      }
    }
    .case-studies-logo {
      margin-left: 0px;
      box-shadow: none;
      width: 156px;
      margin-bottom: 30px;
    }
    .in-12 {
      margin: 30px 0px 0px;
      @include media-max(767px) {
        margin: 30px auto 40px;
      }
    }
    @include media-max(767px) {
      margin-top: 80px;
    }
  }
  @include media-max(767px) {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
  }
  .in-12 {
    @include media-max(767px) {
      margin: 0 !important;
    }
  }
}
.service-p {
  padding: 150px 0px;
  a {
    @include media-max(767px) {
      // margin: 40px auto 0px;
    }
  }
  .heading-3 {
    margin-bottom: 100px;
    @include media-max(767px) {
      margin-bottom: 60px;
      text-align: left !important;
    }
    @include media-min-max(768px, 991px) {
      font-size: 40px;
      line-height: 60px;
    }
  }
  ul {
    li {
      @include font($lato, 400, 22px);
      color: $title-text-color;
      line-height: 33px;
      margin-bottom: 20px;
      @include media-min-max(768px, 991px) {
        padding-right: 20px;
        font-size: 20px;
        line-height: 30px;
      }
    }
    @include media-max(767px) {
      text-align: left;
      list-style: none;
    }
    @include media-min(991px) {
      padding: 0px 20px !important;
    }
  }
  @include media-max(767px) {
    padding: 80px 20px;
    text-align: left;
  }
}

.by-t-num {
  .single-count {
    span {
      font-size: 60px;
      @include media-max(1024px) {
        font-size: 40px;
      }
      @include media-max(767px) {
        font-size: 50px;
      }
    }
    .heading-5 {
      @include media-max(1024px) {
        margin-top: 10px;
        font-size: 20px;
      }
    }
    @include media-max(1024px) {
      margin-bottom: 40px;
    }
  }
  @include media-max(1024px) {
    padding-bottom: 60px;
  }
  @include media-max(767px) {
    text-align: left !important;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.algorithm {
  padding-top: 150px;

  .brading-heading {
    .heading-3 {
      margin-bottom: 80px;
      @include media-max(767px) {
        text-align: left !important;
        margin-bottom: 40px;
      }
      @include media-min-max(768px, 991px) {
        font-size: 40px;
        line-height: 60px;
      }
    }
  }
  .heading-3 {
    margin-bottom: 32px;
    @include media-max(767px) {
      text-align: left;
      margin-bottom: 40px;
    }
    @include media-min-max(768px, 991px) {
      font-size: 40px;
      line-height: 60px;
    }
  }
  .heading-5 {
    margin-bottom: 30px;
    @include media-min-max(768px, 991px) {
      font-size: 18px;
      line-height: 27px;
    }
    @include media-max(767px) {
      font-size: 16px;
      text-align: left;
    }
  }
  img {
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.15);
    width: 125%;
    @include media-max(1500px) {
      width: 100%;
    }
  }
  .algo-content {
    padding-bottom: 150px;
    @include media-max(767px) {
      padding-bottom: 80px;
      text-align: left;
    }
  }
  .algo-1 {
    img {
      float: left;
      margin-top: 15px;
      width: auto;
    }
    h4 {
      @include font($lato, 700, 24px);
      color: $black;
      margin-bottom: 36px;
      margin-left: 32px;
      @include media-max(767px) {
        margin-left: 0px;
      }
    }
    .heading-5 {
      margin-left: 32px;
      margin-bottom: 30px;
    }
  }
  .algo-2 {
    .algo-text {
      @include media-min(1024px) {
        padding-right: 52px;
      }
    }
    @include media-max(767px) {
      text-align: center;
    }
  }
  .algo-3 {
    .algo-img {
      @include media-max(767px) {
        order: 2;
      }
    }
    img {
      @include media-min(1501px) {
        margin-left: -28.2%;
      }
    }
    .algo-text {
      @include media-min(1024px) {
        padding-left: 52px;
      }
    }
    @include media-max(767px) {
      text-align: center;
    }
  }
  .algo-05 {
    margin-bottom: 100px;
    @include media-max(767px) {
      margin-bottom: 60px;
    }
  }
  .hpf {
    @include media-max(767px) {
      text-align: left;
    }
  }
  @include media-max(767px) {
    text-align: center;
    padding: 80px 20px 0px;
  }
}
.cap-l {
  padding-bottom: 120px;
  img {
    width: 100%;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
  }
  @include media-max(767px) {
    padding-bottom: 80px;
  }
}
.l-algo-img {
  padding-bottom: 150px;
  img {
    width: 100% !important;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.15);
    @include media-max(767px) {
      margin-bottom: 60px;
    }
  }
  .heading-5 {
    margin-bottom: 100px !important;
  }
  @include media-max(767px) {
    padding-bottom: 20px;
  }
}
.social-media {
  text-align: center;
  padding-bottom: 150px;
  img {
    width: 100%;
    margin-top: 48px;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.15);
    @include media-max(767px) {
      margin-top: 60px;
    }
  }
  .heading-3 {
    margin-bottom: 24px;
    @include media-min-max(768px, 991px) {
      font-size: 40px;
      line-height: 60px;
    }
    @include media-max(767px) {
      text-align: left;
    }
  }
  @include media-max(767px) {
    padding: 80px 0px 0px;
    text-align: left;
  }
}
.p-b-100 {
  padding-bottom: 76px;
  @include media-max(767px) {
    padding-bottom: 26px;
  }
}
.nav-tabs {
  border-bottom: none;
  background-color: $background-color1;
  margin-bottom: 100px;
  .nav-item {
    border-bottom: 10px solid $border-color !important;
    padding: 43px 0px 24px;
    @include font($lato, 400, 24px);
    color: $p-text-color;
  }
  .nav-link {
    border: none;
    width: 100%;
    transition: 0.8s;
    @include media-min(768px) {
      width: 33.33%;
    }
    @include media-min-max(768px, 991px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  @include media-max(767px) {
    margin-bottom: 60px;
  }
}
#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent;
  border-bottom: 10px solid $theme-color !important;
  color: $title-text-color;
  font-weight: 700;
}
.ad-design {
  padding-bottom: 150px;
  margin-bottom: 0px;
  img {
    margin-bottom: 30px;
    margin-top: 0px;
  }
  .heading-5 {
    margin-bottom: 100px;
  }
  @include media-max(767px) {
    padding-bottom: 60px;
    text-align: left;
  }
}
.online-app {
  .heading-5 {
    text-align: center;
    margin-bottom: 60px;
    @include media-min(768px) {
      margin-bottom: 100px;
    }
  }
  img {
    width: 100%;
    @include media-min(768px) {
      margin-bottom: 0px;
    }
  }
}
.integation {
  padding: 0px 0px 150px;
  .heading-3 {
    margin-bottom: 24px;
    @include media-min-max(768px, 991px) {
      font-size: 40px;
      line-height: 60px;
    }
  }
  img {
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.15);
    @include media-max(1500px) {
      width: 100%;
    }
  }
  .heading-5 {
    @include media-min-max(768px, 991px) {
      font-size: 18px;
      line-height: 27px;
    }
    @include media-max(767px) {
      margin-bottom: 30px;
    }
  }
  @include media-max(767px) {
    padding: 0px 0px 80px;
    text-align: center;
  }
}
.branding {
  padding-top: 0px;
  .algo-1 {
    margin-top: 100px;
  }
}
.ld-02 {
  margin: 150px 0px 0px;
  @include media-max(767px) {
    margin: 80px 0px 0px;
  }
}
.key-feature {
  padding-bottom: 150px;
  .algo-img {
    img {
      box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.15);
      @include media-max(1500px) {
        width: 100%;
      }
      @include media-min(1501px) {
        margin-left: -22.2%;
      }
    }
    @include media-max(767px) {
      padding-bottom: 60px;
    }
  }
  .algo-text {
    img {
      float: left;
      margin-top: 19px;
      width: auto;
    }
    .heading-5 {
      margin-left: 24px;
    }
    .heading-3 {
      margin-bottom: 48px;
      @include media-max(767px) {
        text-align: center;
        margin-bottom: 28px;
        font-size: 40px;
      }
    }
    @include media-min-max(1024px, 1500px) {
      padding-left: 40px;
    }
    @include media-min-max(768px, 1023px) {
      padding-left: 20px;
    }
  }
  @include media-max(767px) {
    padding-bottom: 80px;
  }
}
.branding {
  @include media-max(767px) {
    padding-top: 0px;
  }
}
.app-dwld {
  padding-bottom: 150px;
  img {
    padding: 20px;
    box-shadow: none !important;
    width: 208px;
  }
  @include media-max(767px) {
    padding-bottom: 80px;
  }
}
.inndex-service {
  padding-bottom: 60px !important;
  @include media-min(768px) {
    padding-bottom: 130px !important;
  }
}
.inndex-n-content {
  img {
    width: 100%;
    margin-left: 0px !important;
  }
}
.caf-oct-h,
.caf-algo {
  img {
    box-shadow: none !important;
  }
}
.inndex-branding {
  padding-top: 0px;
  .brading-heading {
    margin-bottom: 0px;
  }
  img {
    width: 100%;
  }
}
.long-live-h {
  img {
    box-shadow: none !important;
  }
}
.l-algo {
  padding: 0px 0px 150px;
  @include media-max(767px) {
    padding: 0px 0px 80px;
  }
}

.online-app-img {
  margin-bottom: 50px;
}
