/**
 * ----------------------------------------------
 * case studies content
 * 
 */
.case-studies-header {
  .heading-3 {
    margin-bottom: 32px;
    @include media-max(767px) {
      text-align: left;
    }
  }
  .heading-4 {
    @include media-max(767px) {
      margin-bottom: 80px;
      text-align: left;
    }
  }

  @include media-max(767px) {
    padding: 25px 20px;
    text-align: left;
  }
}
.c-content {
  padding-bottom: 50px;
  background-image: url(../images/c-bg.png);
  background-color: transparent;
  background-position: bottom left;
  .case-studies-content {
    .link-text {
      margin-bottom: 20px;
    }
  }

  .mobile-mb-40 {
    margin-bottom: 30px;
  }

  @include media-min(1650px) {
    background-image: url(../images/c-bg1.png);
  }
  @include media-max(767px) {
    padding: 25px 25px;
  }
}

.work-with-us {
  h3,
  h4 {
    @include media-max(767px) {
      text-align: left;
      margin-left: -15px !important;
    }
  }

  .m-auto {
    @include media-max(767px) {
      margin: 0 !important;
      margin-left: -15px !important;
    }
  }
}
