/**
 * ----------------------------------------------
 * COLOR CODES
 * ----------------------------------------------
 *
*/
// Black & White
$white:                 #ffffff;
$black:                 #000000;

// Main Template colors's
$theme-color:           #F15A29;
$primary:               #FD6F41;
$secondary:             #FF6192;

// Text color's
$title-text-color:      #050820;
$p-text-color:          #505159;
$link-text:             #060717;

// background Color's
$background-color1:     #E9F6FB;
$background-color2:     #D5EEF6;
$background-color3:     #ECFAFF;
$background-color4:     #0F1424;
$border-color:     #DEEAF0;


// Extra Uses color's
$color1:                #F7F7F7;
$color2:                #E35629;
$color3:                #EB6438;
$color4:                #222829;
$color5:                #2B3031;
$color6:                #3A4144;
$color7:                #40474A;
$color8:                #4A5457;
$color9:                #565F62;
$color10:               #D9F3FB;
$color11:               #D5EEF6;
$color12:               #8D8D8D;
$color13:               #949494;
$color14:               #6A6A6A;